###
### mvn spring-boot:run
###
### Removing Untracked Files https://linuxize.com/post/how-to-remove-untracked-files-in-git/
###     (d = rm directories) (r = dry run, shows what will be deleted)
###     git clean -d -n
###
### Undo last commit but keep local changes:
###     git reset --soft HEAD~1
###
### Go to last commit:
###     git reset --hard HEAD
###


**/ActualSecretKeys.java

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
#!**/src/main/**
#!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
